<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>HTML Table</h2>

<table>
    <tr>
        <th>User ID</th>
        <th>Name</th>

    </tr>

    <tr>
        <th>ID-001</th>
        <th>Ranjan Paul</th>
    </tr>
    <tr>
        <th>ID-002</th>
        <th>Monisha Paul</th>
    </tr>


</table>

</body>
</html>

